.login {
    &-top {
        margin-top: 220px;
        img {
            display: block;
            margin: 0 auto;
        }
        h2 {
            text-align: center;
            font-size: 24px;
            margin: 12px 0 20px 0;
            letter-spacing: 2px;
        }
    }
    .list {
        padding-bottom: 90px;
    }
    &-inner {
        background-color: #F8F6EF;
        h3 {
            font-size: 36px;
            text-align: center;
            padding-top: 20px;
        }
        p {
            font-size: 21px;
            text-align: center;
            letter-spacing: 2px;
            padding-bottom: 12px;
        }
    }
    // 左側登入欄位
    &-left {
        width: 45%;
        padding: 0px 100px 0px 0;
        margin: 50px 0;
        border-right: 1px solid black;
        .form-box {
            border-radius: 30px;
            background-color: white;
        }
        input {
            &::placeholder {
                letter-spacing: 2px;
                color: #c7c7c7;
                font-weight: 300;
                font-size: 20px;
            }
            &:focus {
                outline: none;
            }
        }
        label {
            display: block;
        }
    }
    &-account-input, &-password-input {
        border-radius: 10px;
        width: 100%;
        padding: 25px 0 20px 30px;
        border: 1px solid #c8c8c8;
    }
    &-account-label {
        position: relative;
        padding: 50px;
    }
    &-password-label {
        position: relative;
        padding: 0 50px 0 50px;
    }
    &-account-span {
        position: absolute;
        background-image: linear-gradient(transparent,transparent 10px,#fff 0,#fff);
        z-index: 1;
        left: 70px;
        top: 35px;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 0 10px;
    }
    &-password-span {
        position: absolute;
        background-image: linear-gradient(transparent,transparent 10px,#fff 0,#fff);
        z-index: 1;
        left: 70px;
        top: -15px;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 0 10px;
    }
    .show-password {
        display: flex;
        justify-content: space-between;
        padding: 15px 50px 45px 50px;
        align-items: center;
        .form-check-input[type="checkbox"] {
            border-radius: 50%;
            margin-bottom: 2px;
        }
        label {
            margin-left: 8px;
            letter-spacing: 2px;
            font-size: 18px;
        }
        a {
            padding-left: 15px;
            color: #72A4D6;
            text-decoration: underline;
            letter-spacing: 2px;
            font-size: 18px;
        }
    }
    .login-btn, .signUp-btn {
        width: 200px;
        margin: 0 auto;
        padding: 10px 0px;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        letter-spacing: 2px;
        font-size: 20px;
        display: block;
        background-color: white;
        &:hover {
            background-color: #C08C7E;
            color: white;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-color 1s;
        }
        &:focus {
            outline: none;
        }
    }
    .error-text {
        color: red;
        font-size: 18px;
        letter-spacing: 2px;
    }
    .errorClass {
        outline: 1px solid red !important;
    } 
    .form-check-input:checked {
        background-color: $purple;
        border: none;
    }
    .form-check-input:focus {
        box-shadow: none;
        border: none;
    }
    .fastLogin {
        h3 {
            text-align: center;
            font-size: 20px;
            letter-spacing: 2px;
            color: #BEBEBE;
            padding: 0px;
        }
        &-header {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
        }
        &-leftLine, &-rightLine {
            width: 30%;
            margin: 0;
        }
        li {
            margin: 25px 0;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            margin: 0 50px;
            border-radius: 10px;
            height: 60px;
        }
        .fb-item {
            background-color: #345BAA;
        }
        .fb-icon, .line-icon, .apple-icon {
            color: white;
        }
        .fb-text, .line-text, .apple-text {
            color: white;
        }
        .google-item {
            border: 1px solid black;
        }
        .line-item {
            background-color: #00C306;
        }
        .apple-item {
            background-color: #232425;
        }
        p {
            width: 80%;
        }
    }

    // 右側註冊欄
    &-right {
        width: 45%;
        margin: 50px 0;
        padding: 0px 0 0px 100px;
        .form-box {
            border-radius: 30px;
            background-color: white;
        }
        input {
            &::placeholder {
                letter-spacing: 2px;
                color: #c7c7c7;
                font-weight: 300;
                font-size: 20px;
            }
            &:focus {
                outline: none;
            }
        }
        label {
            display: block;
        }
    }
    .signUp-label {
        position: relative;
        padding: 50px; 
    }
    .signUp-input {
        border-radius: 10px;
        width: 100%;
        letter-spacing: 2px;
        padding: 25px 0 20px 30px;
        border: 1px solid #c8c8c8;
    }
    .signUp-span {
        position: absolute;
        background-image: linear-gradient(transparent,transparent 10px,#fff 0,#fff);
        z-index: 1;
        left: 70px;
        top: 35px;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 0 10px;
    }
    .signUp-span-item {
        position: absolute;
        background-image: linear-gradient(transparent,transparent 10px,#fff 0,#fff);
        z-index: 1;
        left: 70px;
        top: -15px;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 0 10px;
    }
    select {
        &:focus {
            outline: none;
        }
    }
    .select-down {
        position: absolute;
        top: 20px;
        right: 75px;
        z-index: 2;
    }
    .select-gender {
        border-radius: 10px;
        width: 100%;
        background-color: white;
        padding: 25px 0 20px 30px;
        border: 1px solid #c8c8c8;
        letter-spacing: 2px;
        font-weight: 300;
        font-size: 20px;
    }
    .singUp-box {
        h4 {
            color: red;
            letter-spacing: 2px;
            font-size: 18px;
            text-align: center;
        }
        .agree-text {
            padding: 50px 0 65px 0;
            font-size: 18px;
            color: #c7c7c7;
        }
        a {
            display: inline-block;
            color: #72A4D6;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .modal-content {
        border-radius: 30px;
        padding: 20px;
    }
    .modal .modal-dialog  {
        max-width: 1200px;
    }
    .modal-footer {
        border: none;
    }
    .personalModal {
        p {
            letter-spacing: 2px;
            font-size: 20px;
        }
        span {
            display: block;
            margin: 0 auto;
            border: 1px solid black;
            font-size: 20px;
            border-radius: 30px;
            text-align: center;
            padding: 10px 80px;
            &:hover {
                cursor: pointer;
                background-color: #C08C7E;
                color: white;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-color 1s;
            }
        }
    }
    // 忘記密碼頁面
    .forget-label {
        width: 900px;
        background-color: white;
        padding: 60px 90px;
        border-radius: 30px;
        position: relative;
    }
    .forget-span {
        position: absolute;
        background-image: linear-gradient(transparent,transparent 10px,#fff 0,#fff);
        z-index: 1;
        left: 110px;
        top: 45px;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 0 10px;
    }
    .forget-input {
        border-radius: 10px;
        width: 100%;
        padding: 25px 0 20px 30px;
        border: 1px solid #c8c8c8;
        &::placeholder {
            letter-spacing: 2px;
            color: #c7c7c7;
            font-weight: 300;
            font-size: 20px;
        }
        &:focus {
            outline: none;
        }
    }
    .forget-link {
        display: flex;
        margin: 30px 0 0 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        color: #BEBEBE;
        &:hover {
            color: $purple;
        }
        p {
            padding-left: 15px;
        }
    }
}

@include phone () {
    .login {
        &-top {
            margin-top: 140px;
        }
        &-right {
            display: none;
        }
        &-left, &-right {
            width: 100%;
            padding: 0;
            border: none;
        }
        &-account-label {
            padding: 50px 20px 20px 20px;
        }
        &-password-label, .signUp-label {
            position: relative;
            padding: 0 20px;
        }
        .rwd-signUp-label {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &-container {
            padding: 0;
        }
        h2 {
            font-size: 20px;
        }
        .show-password {
            padding: 15px 0px 45px 50px;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .list {
            padding-bottom: 40px;
        }
        .error-text {
            font-size: 14px;
        }
        .select-down {
            right: 45px;
        }
        .signUp-span, .signUp-span-item {
            left: 40px;
        }
        .login-account-input, .login-password-input, .signUp-input {
            padding: 25px 20px 20px 20px;
        }
        .select-gender {
            padding: 25px 30px 20px 30px;
        }
        .error-text-rwd {
            margin: 0 30px 0px -30px;
        }
    }
    .login-account-span, .login-password-span {
        left: 40px;
    }
    .rwd-show-password {
        padding: 15px 0px 45px 80px;
    }
    .picker-input {
        background-color: white;
        height: 71px;
    }
}