.chatOnline {
    width: 75%;
    position: relative;
    margin-left: 80px;
    padding-top: 60px;
    h2 {
        font-size: 30px;
        letter-spacing: 2px;
        padding-bottom: 15px;
        border-bottom: 1px solid #c8c8c8;
    }
    &-box {
        width: 90%;
        height: 694px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow-y: scroll;
        margin: 30px auto 0 auto;
        background-color: #F8F6EF;
        border-radius: 8px;
        .admin {
            display: flex;
            align-items: flex-start;
            padding: 40px 0 0 0;
        }
        .admin-box {
            margin: 0px 0 0px 15px;
            background-color: #FAE0E0;
            padding-bottom: 30px;
            border-radius: 0px 20px 20px 20px;
            h3 {
                font-size: 20px;
                letter-spacing: 2px;
                padding: 20px 30px 15px 30px;
            }
            ul {
                background-color: white;
                margin: 0 30px;
                border: 1px solid black;
            }
            li {
                border-bottom: 1px solid black;
                margin: 0px 15px;
                padding: 0 120px;
            }
            li:last-child {
                border-bottom: none;
            }
            p {
                text-align: center;
                font-size: 20px;
                color: $purple;
                letter-spacing: 2px;
                padding: 15px 0;
                cursor: pointer;
            }
        }
        .chat-box {
            background-color: #FAE0E0;
            border-radius: 0px 20px 20px 20px;
            p {
                font-size: 20px;
                letter-spacing: 2px;
                padding: 20px 30px 15px 30px;
            }
        }
        .time-item {
            display: flex;
            align-items: center;
            margin: 5px 0 40px 0;
            color: #9B9B9B;
            small {
                padding-left: 5px;
                display: block;
            }
        }
    }
    .user {
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
        &-box {
            background-color: white;
            border-radius: 20px 0px 20px 20px;
        }
        h3 {
            letter-spacing: 2px;
            font-size: 20px;
            padding: 20px 30px 15px 30px;
        }
        p {
            letter-spacing: 2px;
            font-size: 20px;
            padding: 20px 30px 15px 30px;
            text-align: right; 
        }
    }
    img {
        width: 60px;
        border-radius: 50%;
        margin: 0px 25px 0px 25px;
    }
    .admin-chat {
        display: flex;
        align-items: flex-start;
        &-box {
            background-color: white;
            border-radius: 20px 0px 20px 20px;
        }
        h3 {
            letter-spacing: 2px;
            font-size: 20px;
            padding: 20px 30px 15px 30px;
        }
        p {
            letter-spacing: 2px;
            font-size: 20px;
            padding: 20px 30px 15px 30px;
        }
    }
    img {
        width: 60px;
        border-radius: 50%;
        margin: 0px 25px 0px 25px;
    }
}

.dedicated-person {
    letter-spacing: 2px;
    color: grey;
}

.send-input {
    background-color: #E8DDBA;
    width: 90%;
    margin: 0 auto;
    input {
        margin: 30px 10px 30px 45px;
        height: 45px;
        border-radius: 25px;
        border: none;
        width: 80%;
        padding-left: 20px;
    }
    button {
        height: 45px;
        width: 10%;
        margin-bottom: 5px;
        border-radius: 25px;
    }
}