.chatOnline {
    width: 75%;
    margin-left: 80px;
    padding-top: 60px;
    h2 {
        font-size: 30px;
        letter-spacing: 2px;
        padding-bottom: 15px;
        border-bottom: 1px solid #c8c8c8;
    }
    &-box {
        width: 90%;
        margin: 30px auto 0 auto;
        background-color: #F8F6EF;
        border-radius: 8px;
        .admin {
            display: flex;
            align-items: center;
        }
        .admin-box {
            margin: 40px 0 0px 15px;
            background-color: #FAE0E0;
            padding-bottom: 30px;
            border-radius: 0px 20px 20px 20px;
            h3 {
                font-size: 20px;
                letter-spacing: 2px;
                padding: 20px 30px 15px 30px;
            }
            ul {
                background-color: white;
                margin: 0 30px;
                border: 1px solid black;
            }
            li {
                border-bottom: 1px solid black;
                margin: 0px 15px;
                padding: 0 120px;
            }
            li:last-child {
                border-bottom: none;
            }
            p {
                text-align: center;
                font-size: 20px;
                color: $purple;
                letter-spacing: 2px;
                padding: 15px 0;
                cursor: pointer;
            }
        }
        .time-item {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 5px 0 40px 0;
            color: #9B9B9B;
            small {
                padding-left: 5px;
                display: block;
            }
        }
    }
    .user {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: 0 30px 40px 0;
        &-box {
            background-color: white;
            border-radius: 20px 0px 20px 20px;
        }
        h3 {
            letter-spacing: 2px;
            font-size: 20px;
            padding: 20px 30px 15px 30px;
        }
    }
    img {
        width: 60px;
        border-radius: 50%;
        margin: 0px 0 0px 30px;
    }
}