.chagnePassword {
    width: 75%;
    margin-left: 80px;
    padding-top: 60px;
    h2 {
        font-size: 30px;
        letter-spacing: 2px;
        padding-bottom: 15px;
        border-bottom: 1px solid #c8c8c8;
    }
}