.consult {
    margin: 180px 0;
    .content {
        margin: 50px;
        text-align: center;
        letter-spacing: 2px;
        font-size: 18px;
    }
    &-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 35px;
    }
    h2 {
        font-size: 34px;
        text-align: center;
        letter-spacing: 6px;
        margin-bottom: 12px;
    }
    ul {
        display: flex;
    }
    li {
        width: 50%;
        margin-top: 50px;
    }
    &-subTitle {
        font-size: 20px;
        letter-spacing: 2px;
        color:#BEBEBE;
        text-align: center;
    }
    &-content {
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 24px;
    }
    &-box {
        width: 66%;
        background-color: #F4F5F6;
        padding-top: 45px;
        margin: 0 auto;
        border-radius: 30px;
        &:hover {
            outline: 1px $purple solid;
            color: black;
        }
        img {
            display: block;
            margin: 0 auto
        }
        p {
            text-align: center;
            font-size: 24px;
            letter-spacing: 3.5px;
            text-decoration: underline;
            padding: 35px 0 25px 0;
            &:hover {
                color: black;
            }
        }
    }
    .left-item {
        border-right: 1px solid black;
    }
}
@include phone() {
    .consult {
        margin: 120px 0;
        .content {
            margin: 0;
        }
        &-content {
            font-size: 14px;
            letter-spacing: 0px;
        }
        h2 {
            margin-top: 30px;
            font-size: 24px;
        }
        li {
            margin-top: 25px;
            width: 100%;
        }
        .left-item {
            border-right: none;
            border-bottom: 1px solid black;
            padding-bottom: 15px;
        }
        &-box {
            width: 90%;
            p {
                font-size: 20px;
            }
        }
    }
}