
.header-fixed {
  z-index: 1099;
}
.header {
    display: flex;
    z-index: 999;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 60px;
    background-color: white;
    padding: 10px 0px;
    margin: 30px auto 0px auto;
    box-shadow: 3px 3px 10px #00000019;
    &-logo {
        display: flex;
        align-items: center;
        margin-left: 60px;
        img {
            padding-right: 15px;
        }
    }
    &-line {
        background-color: #c8c8c8;
        height: 25px;
        border: none;
        width: 1px;
    }
    h1 {
        font-size: 28px;
        padding-left: 15px;
        letter-spacing: 2.2px;
        border-left: 1.5px solid black;
    }
}

.header-menu {
    display: flex;
    align-items: center;
    margin-right: 10px;
    p {
        letter-spacing: 2.7px;
        color: $gray;
        margin-right: 25px;
    }
    &-social {
        li {
            position: relative;
            margin: 0 10px;
        }
        li::after {
            content: '';
            position: absolute;
            top: calc(50% - 10px);
            right: 50px;
            background: #aaa;
            width: 1%;
            height: 20px;
        }
    }
}

// 漢堡選單 
.header-hamburger {
    background-color:#FCE364;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    z-index: 1056;
    .line {
        fill: none;
        stroke: $purple;
        stroke-width: 2;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
        stroke-dasharray: 40 207;
        stroke-width: 2;
        transform: translate(10px, 5px)
      }
      .line2 {
        stroke-dasharray: 40 60;
        stroke-width: 2;
        transform: translateX(10px);
      }
      .line3 {
        stroke-dasharray: 40 207;
        stroke-width: 2;
        transform: translate(10px, -5px);
      }
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 2;
    transform: none
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 2;
    transform: none
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 2;
    transform: none
  }
  
  // modal 相關
  .modal.right .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translate3d(0%, 0, 0);
  }
  
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border: none;
    border-radius: 0%;
  }

  .modal.right .modal-body {
    display: flex;
    align-items: center;
    background-color: #FBB5B5;
  }

  .modal.right .modal-box {
    max-width: 630px;
    margin: 0 auto;
  }

  .modal-list {
    margin-top: 102px;
    p {
      color: black;
      margin: 0 0 8px 0;
    }
    a {
      display: flex;
      align-items: center;
      padding: 20px 0;
    }
    h3 {
      font-size: 26px;
      letter-spacing: 2px;
      margin: 0 50px;
    }
    span {
      color: black;
      margin-top: 15px;
      display: inline-block;
    }
    li {
      display: flex;
    }
    img {
      object-fit: none;
      margin-right: 30px;
      visibility: hidden;
      margin-bottom: 8px;
    }
  }

  .modal-social {
    border-top: 1px solid black;
    a {
      border-right: 1px solid black;
      padding: 0px 35px;
      margin-top: 30px;
    }
  }

// 手機 rwd
@include phone() {
  .header {
    margin-top: 20px;
    padding: 0px;
    h1 {
      font-size: 14px;
      padding-left: 5px;
      letter-spacing: 1.5px;
    }
    &-logo {
      margin-left: 0px;
      img {
        width: 30px;
        padding-right: 0px;
        margin: 0 10px;
      }
    }
  }
  .header-hamburger {
    transform: scale(.7);
    margin: 0px
  }
  .member-icon {
    width: 38px;
    height: 38px;
  }

  // header-open
  .modal-list {
    margin-top: 80px;
    h3 {
      font-size: 18px;
      margin: 0 30px;
    }
    a {
      padding: 10px 0;
    }
    img {
      margin-right: 0px;
    }
  }
  .modal-social a {
    padding: 0 25px;
  }
}