// 畫面四條粉色 border + 文字
.topOutline {
	width: 100%;
	height: 20px;
	z-index: 10;
	position: fixed;
	top: 0;
	background-color: #FBB5B5;
}
.rightOutline {
	width: 20px;
	height: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
    right: 0;
	background-color: #FBB5B5;
}
.bottomOutline {
	width: 100%;
	height: 20px;
	z-index: 10;
	position: fixed;
	bottom: 0;
	background-color: #FBB5B5;
}
.leftOutline {
	width: 20px;
	height: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
    left: 0;
	background-color: #FBB5B5;
}
.leftText {
	writing-mode: vertical-lr; 
	position: fixed;
	top: 20%;
	left: 45px;
	color: #7B7C7D;
	z-index: 10;
	letter-spacing: 3.4px;
	text-orientation: sideways-right;
	.line {
		width: 1px;
		height: 90px;
		margin-left: 11px;
		background-color: black;
		z-index: 10;
		margin-bottom: 20px;
	}
}

// 讀取動畫
.loader-icon {
	position: absolute;
	left: 50%;
	top: 50%;
}

.animate__animated.animate__bounce {
	--animate-duration: 1.5s;
  }
  