// container 相關
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-inner {
    max-width: 1060px;
    margin: 0 auto;
}

// flex 相關
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

// margin 相關
.mr-20 {
    margin-right: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.mx-20 {
    margin: 0 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-36 {
    margin-bottom: 36px;
}