// container 相關
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 35px;
}
.container-inner {
    max-width: 1060px;
    margin: 0 auto;
}

// margin 相關
.mr-20 {
    margin-right: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.mx-20 {
    margin: 0 20px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-36 {
    margin-bottom: 36px;
}
.mt-48 {
    margin-top: 48px;
}

// padding 相關
.pb-36 {
    padding-bottom: 36px;
}
.pb-64 {
    padding-bottom: 64px;
}

// width 相關
.w-33 {
    width: 33% !important;
}

.background-none {
    background: none !important
}

.custom-visible {
	visibility: hidden !important;
}